html {
    background-color: #e0ffff; /* Couleur d'arrière-plan */
    font-size: 14px; /* Taille de police */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 10px solid rgb(57, 37, 156);
}

/* Titres */
h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}


.bordure {
    border: 2px solid #000; /* Bordure noire de 2 pixels d'épaisseur */
    padding: 10px;          /* Espacement intérieur pour le contenu */
    margin: 10px;           /* Espacement extérieur pour séparer des autres éléments */
  }

/* En-tête */
.entete {
    text-align: center;
    padding: 20px;
}

.entete img {
    display: inline-block;
    margin: 10px;
}


.aboutme {
    padding: 20px;
    background-color: #8aa4e9;
    border-radius: 5px;
}

/* Pied de page */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #ddd;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


